:root {
    // Color Section
    --clr-green-main: #0c9b4bbf;
    --clr-green-dark: #0c9b4b;
    --clr-green-light: #2dae31;

    --clr-yellow-main: #f9f400bf;
    --clr-yellow-dark: #f9f400;
    --clr-yellow-light: #CCE50B;

    --clr-black-main: #222;
    --clr-black-dark: #000;
    --clr-black-light: #555;

    --clr-white-main: rgb(240, 240, 240);
    --clr-white-dark: rgb(230, 230, 230);
    --clr-white-light: rgb(255, 255, 255);

    // Font Size
    --font-heading-lg: 2.25rem;
    --font-heading-md: 1.75rem;
    --font-heading-sm: 1.25rem;

    --font-content-lg: 1.2rem;
    --font-content-sm: 1rem;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-content-md);
}

h1,
h2,
h3 {
    font-weight: bold;
    font-size: var(--font-heading-lg);
}

// ===== APP TEMPLATE STYLE =====

nav {
    background-color: var(--clr-black-main);
    color: var(--clr-white-main);

    .navbar-logo {
        .logo-img {
            max-height: 4rem;
        }

        .logo-text {
            font-size: var(--font-heading-sm);
            line-height: 1.2;
            font-weight: bold;

            span {
                display: block;
            }
        }
    }

    .navbar-collapse {
        .navbar-nav {
            gap: .5rem;

            .nav-item {
                border-radius: .25rem;
                padding: 0 .25rem;
                transition: .3s;

                &:hover,
                &.active {
                    background-color: var(--clr-white-main);
                    box-shadow: .2rem .2rem 0 var(--clr-green-main);

                    .nav-link {
                        color: var(--clr-black-main);
                    }
                }

                .nav-link {
                    color: var(--clr-white-main);
                }
            }
        }
    }
}

.nav-clear {
    height: 5rem;
}

footer {
    background-color: var(--clr-black-main);
    color: var(--clr-white-main);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .contact {
            flex: 1;

            .header {
                display: flex;
                align-items: center;
                gap: 2rem;

                .logo-img {
                    max-height: 5rem;
                }

                .logo-text {
                    font-size: var(--font-heading-md);
                    line-height: 1.2;
                    font-weight: bold;

                    span {
                        display: block;
                    }
                }
            }

            .location {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin: 1.5rem 0;

                svg {
                    max-height: 2rem;
                    fill: var(--clr-green-main);
                }

                p {
                    margin: 0;
                }
            }

            .contact-item {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin: 1rem 0;
                padding: .5rem 1rem;
                transition: .3s;

                color: var(--clr-white-main);
                text-decoration: none;

                &:hover {
                    background-color: var(--clr-black-light);
                    box-shadow: 0 0 .25rem .5px var(--clr-black-dark);
                }

                p {
                    margin: 0;
                }

                svg {
                    max-height: 2rem;
                    fill: var(--clr-green-main);
                }
            }
        }

        .map {
            flex: 1;
            display: grid;
            place-items: center;
        }
    }

    .copyright {
        background-color: var(--clr-black-dark);
        color: var(--clr-white-main);
    }
}

// ===== PROFILE PAGE STYLE =====

#home-page {
    .carousel {
        position: relative;
        margin-bottom: 4rem;

        .carousel-text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: var(--clr-white-main);
            z-index: 10;

            h1 {
                display: inline;
                border-bottom: .25rem solid var(--clr-green-dark);
                padding: .75rem 1rem;
            }

            &:nth-child(2) {
                font-size: var(--font-heading-sm);
                padding-top: 2rem;
            }
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .carousel-item {
            aspect-ratio: 16/9;
            width: 100%;

            img {
                object-fit: cover;
                max-height: 100%;
            }
        }
    }

    .container {
        font-size: var(--font-content-lg);

        .penerimaan {
            padding: 4rem 0;

            .content {
                .button-penerimaan {
                    border-radius: .5rem;
                    padding: 1rem 2rem;
                    margin-top: 2rem;
                    color: var(--clr-white-main);
                    background-color: var(--clr-black-main);
                    box-shadow: .3rem .3rem 0 var(--clr-green-main);
                    text-decoration: none;
                    transition: .3s;

                    &:hover {
                        box-shadow: .5rem .5rem 0 var(--clr-green-main);
                    }
                }
            }

            .image {
                display: flex;
                justify-content: end;

                .image-bg {
                    height: 100%;
                    width: 80%;
                    border-radius: .5rem;
                    box-shadow: .5rem .5rem 0 var(--clr-green-main);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    transition: .3s;

                    &:hover {
                        box-shadow: .75rem .75rem 0 var(--clr-green-main);
                    }
                }
            }
        }

        .sambutan {
            padding: 3rem 0;

            .person {
                .image-bg {
                    width: 100%;
                    aspect-ratio: 3/4;
                    border-radius: .5rem;
                    box-shadow: .5rem .5rem 0 var(--clr-green-main);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    transition: .3s;
                    margin: 2rem 0;

                    &:hover {
                        box-shadow: .75rem .75rem 0 var(--clr-green-main);
                    }
                }
            }

            .content {
                font-size: var(--font-content-lg);

                .card {
                    box-shadow: 0 .5rem 0 .1rem var(--clr-green-main);
                    padding: 1rem;
                    border-radius: .25rem;
                }

                hr {
                    padding: 1rem;
                }

                p {
                    line-height: 1.75;
                }

                a {
                    color: var(--clr-green-main);

                    &:hover {
                        color: var(--clr-green-dark);
                    }
                }
            }
        }

        .keunggulan {
            padding-bottom: 2rem;

            .row {
                margin: 2rem 0;

                .card {
                    display: flex;
                    flex-direction: row;
                    margin: 1.5rem 0;
                    padding: 1.25rem;
                    gap: 1rem;
                    transition: .3s;

                    &:hover {
                        box-shadow: 0 .25rem 0 .1rem var(--clr-green-main);
                    }

                    .icon {
                        flex: 1;
                        display: grid;
                        place-items: center;

                        svg {
                            height: 3rem;

                            path {
                                fill: var(--clr-green-dark);
                            }
                        }
                    }

                    .content {
                        flex: 5;

                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .visi-misi {
            padding-bottom: 4rem;

            .card {
                margin-top: 2rem;
                padding: 1.25rem;
                transition: .3s;

                h4 {
                    margin-bottom: 1rem;
                }

                &:hover {
                    box-shadow: 0 .25rem 0 .1rem var(--clr-green-main);
                }

                p {
                    width: 75%;
                }

                .dot {
                    width: .5rem;
                    height: .5rem;
                    border-radius: .5rem;
                    background-color: var(--clr-black-main);
                }
            }
        }

        .berita {
            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

#gallery-page {

    .content {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        margin-bottom: 50px;
        justify-content: center;

    }

    .item-galeri {
        flex: 25%;
        max-width: 20%;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .item-galeri img:hover {
        box-shadow: 0rem 0rem 0 .25rem var(--clr-green-main);
        // width: 95%;
        background-color: var(--clr-black-main);
        scale: 1.05;
    }

    .item-galeri img {
        transition: 0.5s;
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        cursor: pointer;
        border-radius: 0.25rem;
    }

    .judul {
        padding: 30px;
        margin-left: 8rem;
    }

    @media screen and (max-width: 992px) {
        .item-galeri {
            flex: 50%;
            max-width: 50%;
        }
    }

    @media screen and (max-width: 600px) {
        .item-galeri {
            flex: 50%;
            max-width: 50%;
        }
    }

    .popup-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 9999;
        align-items: center;
        justify-content: center;
    }

    .popup-container:target {
        display: flex;
    }

    .popup-image {
        max-width: 90%;
        max-height: 90%;
        overflow: hidden;
    }

    .popup-image img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }

    .popup-close {
        position: absolute;
        top: 40px;
        right: 10rem;
    }
}

#news-page {



    .image-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
        grid-template-areas:
            'a a b'
            'c d d'
        ;
        grid-template-rows: repeat(2, 300px);
        z-index: 0;
        background-color: transparent;

        .item-grid{
            cursor: pointer;
        }

        .item-grid:nth-child(1) {
            grid-area: a;
            background-image: url(https:/source.unsplash.com/2000x2000?school);
            margin: 5px;
        }

        .item-grid:nth-child(2) {
            background-image: url(https:/source.unsplash.com/2000x2000?school);
            grid-area: b;
            margin: 5px;
        }

        .item-grid:nth-child(3) {
            background-image: url(https:/source.unsplash.com/2000x2000?school);
            grid-area: c;
            margin: 5px;
        }

        .item-grid:nth-child(4) {
            background-image: url(https:/source.unsplash.com/2000x2000?school);
            grid-area: d;
            margin: 5px;
        }

        
        .item-grid{
            position: relative;
        }

        div {
            background-position: center;
            background-size: cover;
        }

        .title-berita{
            justify-content: center;
            display: flex;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 30%;
            align-items: center;
            color: white;
        }

        
        
    }
    
    

    .text-judul {
        padding: 30px;
        margin-left: 8rem;

        h3 {
            color: #888;
            font-size: 15px;
        }
    }

    .content {
        display: grid;
        flex-wrap: wrap;
        margin: 20px;
        margin-left: 7rem;
        margin-bottom: 50px;
        justify-content: center;
        margin-top: 5%;
        grid-template-areas:
            'a b c d'
            'e f g h'
        ;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 300px);
        width: 100%;

        .item-galeri {
            width: 100%;
        }
    
        .item-galeri:nth-child(1) {
            grid-area: a;
            background-image: url(https:/source.unsplash.com/2000x2000?school);
            margin: 5px;
            width: 100%;
        }
        .item-galeri:nth-child(2) {
            grid-area: b;
            background-image: url(https:/source.unsplash.com/2000x2000?school);
            margin: 5px;
        }
        .item-galeri:nth-child(3) {
            grid-area: c;
            background-image: url(https:/source.unsplash.com/2000x2000?school);
            margin: 5px;
        }
        .item-galeri:nth-child(4) {
            grid-area: d;
            background-image: url(https:/source.unsplash.com/2000x2000?school);
            margin: 5px;
        }
        .item-galeri:nth-child(5) {
            grid-area: e;
            background-image: url(https:/source.unsplash.com/2000x2000?school);
            margin: 5px;
        }
        .item-galeri:nth-child(6) {
            grid-area: f;
            background-image: url(https:/source.unsplash.com/2000x2000?school);
            margin: 5px;
        }
        .item-galeri:nth-child(7) {
            grid-area: g;
            background-image: url(https:/source.unsplash.com/2000x2000?school);
            margin: 5px;
        }
        .item-galeri:nth-child(8) {
            grid-area: h;
            background-image: url(https:/source.unsplash.com/2000x2000?school);
            margin: 5px;
        }
    }

    .item-galeri {
        flex: 25%;
        max-width: 30%;
        padding: 0 10px;
        margin-bottom: 10px;
    }



    @media screen and (max-width: 992px) {
        .item-galeri {
            flex: 50%;
            max-width: 50%;
        }
    }

    @media screen and (max-width: 600px) {
        .item-galeri {
            flex: 50%;
            max-width: 50%;
        }
    }


}
